<a href="https://colab.research.google.com/github/AlirezaAbbasZadeh459/Alireza001/blob/main/Project_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# (1)

In [4]:
def hds2():
    a=int(input("add:"))
    months = ["January","February","March","April","May","June",
        "July","August","September","October","November","December"]
    if 1<=a<=12:
        for i in range(a-1,12):
            print(months[i])
    else:
        print ("add 1&12")
hds2 ()

add:1
January
February
March
April
May
June
July
August
September
October
November
December

In [ ]:
# (2)

In [9]:
def fyu12():
    months=["January","February","March","April","May","June",
"July","August","September","October","November","December"]
    result= ""
    for i,month in enumerate(months,start=1):
        result +=f"{i}.{month}\n"
    return result
months_text=fyu12()
print(months_text)

1.January
2.February
3.March
4.April
5.May
6.June
7.July
8.August
9.September
10.October
11.November
12.December