<a href="https://colab.research.google.com/github/AlirezaAbbasZadeh459/Alireza001/blob/main/%D9%BE%D8%B1%D9%88%DA%98%D9%87_%D8%B9%D9%85%D9%84%DB%8C_%D9%BE%D8%A7%DB%8C%D8%A7%D9%86%DB%8C_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [128]:
# (1)

In [129]:
def zvr23():
    a = int(input("add:"))
    months = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"]
    if 1<=a<=12:
        for i in range(a - 1,12):
            print(months[i])
    else:
        print("عدد بین 1 تا 12 باید باشد")
zvr23()

add:1
January
February
March
April
May
June
July
August
September
October
November
December

In [126]:
# (2)

In [125]:
def twe():
    months = [
        "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ]
    result = ""
    for i, month in enumerate(months,start=1):
        result += f"{i}.{month}\n"
    return result
months_text = twe()
print(months_text)

1.January
2.February
3.March
4.April
5.May
6.June
7.July
8.August
9.September
10.October
11.November
12.December